@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cards {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.card {
    margin: 0 auto;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.card img {
    width: 4%;
}

.linkedln{
    background-color: rgb(28, 129, 211);
}

.github {
    background: linear-gradient(209deg, rgba(0,0,0,1) 0%, rgba(28,0,27,1) 18%);
}

.instagram {
    background-color: rgb(246, 31, 153);
}

.figma {
    background: linear-gradient(209deg, rgba(0,0,0,1) 0%, rgba(28,0,27,1) 18%);
}

@media (max-width: 1000px) {
    .card {
        width: 400px;
    }
}
@media (max-width: 600px) {
    .card img {
        width: 5%;
    }
}
@media (max-width: 420px) {
    .card img {
        width: 5%;
    }
    .card {
        width: 270px;
    }
}