@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

.up {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    gap: 1rem;
}

.up p {
    max-width: 40%;
}

#paragrafo a {
  color: #000000;
}

.title-img {
    text-align: center;
}

.title-img  img {
    position: relative;
    right: 0px;
    top: 10px;
}


.up img {
    width: 10%;
}

.up span {
    font-size: 3rem;
    font-weight: 700;
}

.up p {
    font-size: 0.9rem;
    text-align: center;
}

@media (max-width: 1030px) {
    .title-img {
        display: flex;
        flex-direction: column;
    }
    .title-img  img {
        position: relative;
        left: 260px;
        top: 10px;
    }
    .up img {
        width: 15%;
}
    
}

@media (max-width: 1000px) {
    .up p {
        max-width: 90%;
    }
}

@media (max-width: 850px) {
    .title-img img {
        display: none;
    }
}

/*---------------*/

.slide {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.switch {
    font-size: 17px;
    position: relative;
    display: flex;
    width: 3.5em;
    height: 2em;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: rgb(233, 229, 0);
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.5em);
  }
  
  .slider::after {
    width: 20px;
    height: 20px;
    left: 20%;
    top: 10%;
    border-radius: 50%;
    position: absolute;
    content: "";
    background-color: rgb(0, 0, 0);
    transition: ease 0.4s;
  }
  
  input:checked + .slider::after {
    left: 80%;
    width: 0px;
    height: 0px;
  }